<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
<meta charset="UTF-8" />
<!-- 공통으로 쓰이는 css파일을넣는다.-->
<link rel="stylesheet" href="/webjars/bootstrap/4.1.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/webjars/origoni-startbootstrap-clean-blog/1.0.3/css/clean-blog.min.css">
<!-- 사용자 CSS 영역이 들어감 -->
<th:block layout:fragment="css"></th:block>
 
<!-- 공통으로 쓰이는 js파일을넣는다.-->
<script src="/webjars/jquery/3.3.1/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.1/dist/js/bootstrap.min.js"></script>
<script src="/webjars/origoni-startbootstrap-clean-blog/1.0.3/js/clean-blog.min.js"></script>
<script type="text/javascript">
	console.log("config.html 호출");
</script>
<!-- 사용자 스크립트 영역이 들어감 -->
<th:block layout:fragment="script"></th:block>
</head>
 
</html>

